h1 {
  margin-left: 10px;
  text-align: center;
  cursor: w-resize;
}

  .block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  font-family: "Bookman Old Style";
}
