h1 {
  margin-left: 140px;
}

  .block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 44px;
  cursor: pointer;
  text-align: center;
}
